<div id=<%= dom_id emprunt_livre %>>
  <p>
    <strong>Nom adherent:</strong>
    <%= emprunt_livre.nom_adherent %>
  </p>

  <p>
    <strong>Prenom adherent:</strong>
    <%= emprunt_livre.prenom_adherent %>
  </p>

  <p>
    <strong>Titre livre:</strong>
    <%= emprunt_livre.titre_livre %>
  </p>

</div>
