<h1>Editing emprunt livre</h1>

<%= render form; emprunt_livre: @emprunt_livre %>

<br>

<div>
  <%= link_to Show this emprunt livre; @emprunt_livre %> |
  <%= link_to Back to emprunt livres; emprunt_livres_path %>
</div>
