<h1>Editing livre</h1>

<%= render form; livre: @livre %>

<br>
	<div class=btn-group role=group aria-label=Basic mixed styles example>
  <%= link_to link_to Show this livre; @livre; class: btn btn-warning %>
      <%= link_to Back to livres; emprunt_livres_path;class: btn btn-info %> </div>