<h1>New livre</h1>

<% if flash[:notice]%>
<div class=alert alert-success role=alert>
  <%= flash[:notice]%>
</div>
<% end%>

<% if flash[:alert]%>
<div class=alert alert-danger role=alert>
  <%= flash[:alert]%>
</div>
<%end%>
<%= render form; livre: @livre %>

<br>

<div>
 <strong> <%= link_to Back to livres; livres_path %></strong>
</div>
