<div id=<%= dom_id adherent %>>
 
 <tr>
      <td scope=row>
    <%= adherent.nom %>
        
      </td>
      <td>
    <%= adherent.prenom %>
        
      </td>
      <td>
    <%= adherent.profession %>
        
      </td>

</div>