<div id=<%= dom_id emprunt_pc %>>
  <p>
    <strong>Nom adherent:</strong>
    <%= emprunt_pc.nom_adherent %>
  </p>

  <p>
    <strong>Prenom adherent:</strong>
    <%= emprunt_pc.prenom_adherent %>
  </p>

  <p>
    <strong>Marque ordinateur:</strong>
    <%= emprunt_pc.marque_ordinateur %>
  </p>

</div>
