<h1>Editing emprunt pc</h1>

<%= render form; emprunt_pc: @emprunt_pc %>

<br>

<div>
  <%= link_to Show this emprunt pc; @emprunt_pc %> |
  <%= link_to Back to emprunt pcs; emprunt_pcs_path %>
</div>
