<h1>Editing ordinateur</h1>

<%= render form; ordinateur: @ordinateur %>

<br>

	<div class=btn-group role=group aria-label=Basic mixed styles example>
  <%=  link_to Show this ordinateur; @ordinateur; class: btn btn-warning %>
      <%= link_to Back to ordinateurs; ordinateurs_path;class: btn btn-info %> </div>